.App {
  text-align: center;
  --darkGreen:  #0E2606;
  --regGreen:#599E40;
  --lightGreen:#F1FFF3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f1fff3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}




/* AnimationPath */
.APContainer{
  width:100%;
}

.APIconBar{
  width:100%;
}

.APBlackBoard{
  width:400px;
  height:200px;
  display:grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr 9fr;
}

.APBlank {
  grid-column:1/2;
  grid-row:1/2
}
.APRuler {
  grid-column: 2 / 3;
  grid-row:1/2;
}

.APyLabel{
  width:100%;
  grid-column: 1 / 2;
  grid-row: 2/3;
}

.APBezierComponent{
  grid-column: 2 / 3;
  grid-row: 2/3;
}


