/* General App Stuff */
.App {
  text-align: center;
  --darkGreen:  #0E2606;
  --regGreen:#599E40;
  --lightGreen:#F1FFF3;
  --font-family: 'Poppins', sans-serif;
  font-family: var(--font-family);
}

.App-header {
  background-color: #f1fff3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-align: left;
  width:600px;
}

.App-link {
  color: #61dafb;
}

h2{
  font-size:20px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

/* Atach Animation Button */
.buttonWrapper{
  padding:25px 25px 0px 25px;
  width:525px;
  display:flex;
  align-items: flex-start;
}

.AttachAnimation{
  background-color: var(--regGreen);
  padding:10px;
  color:var(--darkGreen);
  border:none;
  border-radius: 20px;
  font-family: var(--font-family);
  font-size:20px;
  border: 1px solid var(--lightGreen);
}

.AttachAnimation:hover{
  color:var(--darkGreen);
  border: 1px solid var(--darkGreen);
  background-color: var(--lightGreen);
}

/* AnimateProperties */


.TableRow{
  border-top: 1px solid var(--regGreen);
  font-family: var(--font-family);
}

.TableRow

/* AnimationPath */
.APContainer{
  padding:0px 25px 0px 25px;
}

.APAddKey{
  font-size: 16px;
  height:30px;
  padding:5px;
  background-color:var(--lightGreen);
  color:var(--darkGreen);
  border: 1px solid var(--darkGreen);
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
}

.APAddKey:hover{
  background-color:var(--darkGreen);
  color:var(--lightGreen);
}
.APIconBar{
  display:flex;
  width:100%;
  padding-bottom: 10px;
  align-items: center;
}

.APBlackBoard{
  width:500px;
  display:grid;
  grid-template-rows: 9fr 1fr;
  grid-template-columns: 1fr 9fr;
  background-color: var(--darkGreen);
  padding:25px 25px 0px 0px;
  border-radius:20px;
}

.APBlank {
  grid-column:1/2;
  grid-row:2/3;
}
.APRuler {
  height:100%;
  grid-column: 2 / 3;
  grid-row:2/3;
  color: var(--lightGreen);
  border-top: 1px solid var(--lightGreen);
}

.APStylus{
  width:40px;
  height:40px; 
  background-color:var(--regGreen);
  display: flex;
  flex-direction:column-reverse;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.APStylusSVG{
  position:relative;
  top: -164px;
}

.APStylusTXT{
  position:relative;
  top: -170px;
}

.APyLabel{
  width:100%;
  height:100%;
  grid-column: 1 / 2;
  grid-row: 1/2;
  color: var(--lightGreen);
  border-right: 1px solid var(--lightGreen);
}

.APBezierComponent{
  grid-column: 2 / 3;
  grid-row: 1/2;
  border-left: 1px solid var(--lightGreen);
}

/* KeyFrame Details */

.KDWrapper,
.APSWrapper{
  padding:25px 25px 0px 25px;
  width:525px;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
}

.KDHead{
  flex:1
}

.inputBox{
  width:50px;
  font-family: var(--font-family);
  border:1px solid var(--darkGreen);
  border-radius:5px;
  background-color: var(--lightGreen);
}

.NumOption{
  padding:10px 0px 0px 25px;
}

